body {
font-family: Arial, sans-serif;
font-size: 20px;
color: #E6E6FA;
display: flex;
background-color: #71499d;
align-items: center;
justify-content: center;
min-height: 100vh;
margin: 0px;
flex-direction: column;
padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  gap: 2px;
  
  background-color: #f0f0f0;
  padding: 10px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  font-size: 7px;
  color: white;
  border: 1px solid #ccc;
}

/* Типи клітинок */
.cell.луг {
  background-color: #7FFFD4;
  color: black;
}
.cell.заповнений {
  background-color: green;
}
.cell.заповнений1 {
  background-color: green;
}
.cell.частково {
  background-color: gold;
  color: black;
}
.cell.частково\1 {
  background-color: gold;
  color: black;
}
.cell.заповнена {
  background-color: darkgreen;
}
.cell.пішохідна_дорога {
  background-color: white;
  
}
.cell.недоступна {
  background-color: #A52A2A;
}
